/* Estilos gerais para a página de prescrições */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f0f8ff; /* Fundo azul claro */
  color: #333;
}

/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7); /* Fundo semitransparente */
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Efeito de vidro fosco */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de hover para o container */
.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Estilo do título */
h2 {
  color: #1e90ff;
  font-size: 28px;
  margin-bottom: 15px;
}

/* Estilo do card */
.card {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Estilo do formulário */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 16px;
}

.form-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.form-group button {
  background-color: #1e90ff; /* Azul claro */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-group button:hover {
  background-color: #1c86ee; /* Azul mais escuro no hover */
  transform: translateY(-3px);
}

/* Estilo da lista de prescrições */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

li h3 {
  margin: 0 0 10px 0;
  color: #1e90ff;
}

li p {
  margin: 5px 0;
  color: #333;
}

/* Botão de voltar */
.voltar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.voltar:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}